## ML Zoomcamp 2023 - Homework #1

In [2]:
import pandas as pd
import numpy as np

#### Question 1: 
Version of Pandas?

In [3]:
pd.__version__

'2.1.0'

#### Data preparation

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-17 00:16:49--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Translacja raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8000::154, 2606:50c0:8002::154, ...
Łączenie się z raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... połączono.
Żądanie HTTP wysłano, oczekiwanie na odpowiedź... 200 OK
Długość: 1423529 (1,4M) [text/plain]
Zapis do: ‘housing.csv.9’

housing.csv.9       100%[===================>]   1,36M  5,69MB/s    w 0,2s

2023-09-17 00:16:49 (5,69 MB/s) - zapisano ‘housing.csv.9’ [1423529/1423529]

In [5]:
dataset = pd.read_csv("housing.csv")

In [6]:
df = dataset.copy()

In [7]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

#### Question 2
Number of columns in the dataset?

In [9]:
df_q1 = df.shape[1]
print(f'Answer Q2: The data set has {df_q1} columns')

Answer Q2: The data set has 10 columns

#### Question 3

Q: Which columns in the dataset have missing values?

    total_rooms
    total_bedrooms
    both of the above
    no empty columns in the dataset

In [10]:
df_q3 = df.columns[df.isna().any()].tolist()

for column in df_q3:
    df_q3 = str(column)  
    df_q3 = df_q3.strip("[]")  
    print(f'Answer Q3: In the dataset, empty values have a column {df_q3}')

Answer Q3: In the dataset, empty values have a column total_bedrooms

#### Question 4
Q: How many unique values does the ocean_proximity column have?

* 3
* 5
* 7
* 9

In [11]:
df_q4 = df.ocean_proximity.nunique()
print(f'Answer Q4: ocean_proximity column have {df_q4} unique values')

Answer Q4: ocean_proximity column have 5 unique values

#### Question 5

What's the average value of the median_house_value for the houses located near the bay?

    49433
    124805
    259212
    380440

In [12]:
df_q5 = df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()
print(f'Answer Q5: The average value of median_house_value for houses near the bay is:{df_q5:.6f}$')

Answer Q5: The average value of median_house_value for houses near the bay is:259212.311790$

#### Question 6

    1. Calculate the average of total_bedrooms column in the dataset.
    2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
    3. Now, calculate the average of total_bedrooms again.
    4. Has it changed?

Has it changed?

    Hint: take into account only 3 digits after the decimal point.

    Yes
    No

In [13]:
# Calculate the average of total_bedrooms column in the dataset.
df_q6 = df['total_bedrooms'].mean()
print(df_q6)

# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
df["total_bedrooms"].fillna(df['total_bedrooms'].mean(), inplace=True)

#  calculate the average of total_bedrooms again.
df_q6_1 = df['total_bedrooms'].mean()
print(df_q6_1)

# Calculate difference
x = df_q6 - df_q6_1

print(f'\nAnswer Q6: The difference is:{x:.13f}')
print(f'For three digits after the decimal point there is no change')

537.8705525375618
537.8705525375617

Answer Q6: The difference is:0.0000000000001
For three digits after the decimal point there is no change

#### Question 7

    1. Select all the options located on islands.
    2. Select only columns housing_median_age, total_rooms, total_bedrooms.
    3. Get the underlying NumPy array. Let's call it X.
    4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    5. Compute the inverse of XTX.
    6. Create an array y with values [950, 1300, 800, 1000, 1300].
    7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    8. What's the value of the last element of w?

    Note: You just implemented linear regression. We'll talk about it in the next lesson.

    -1.4812
    0.001
    5.6992
    23.1233

In [14]:
# Select all the options located on islands.
# Select only columns housing_median_age, total_rooms, total_bedrooms.

data = df.loc[
    df["ocean_proximity"] == "ISLAND", ["housing_median_age", "total_rooms", 'total_bedrooms']
]

In [15]:
data.shape

(5, 3)

In [16]:
# Get the underlying NumPy array. Let's call it X.
X = np.array(data)

In [17]:
# Compute matrix-matrix multiplication between the transpose of X and X. 
#To get the transpose, use X.T. Let's call the result XTX
XTX = np.dot(X.T,X)

In [18]:
# Compute the inverse of XTX
np.linalg.inv(XTX)

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [19]:
# Create an array y with values [950, 1300, 800, 1000, 1300]
y = np.array([950, 1300, 800, 1000, 1300]) # task_7.5

In [21]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 
# Call the result w
w = np.dot(np.dot(np.linalg.inv(XTX), X.T), y)
print(f'Answer Q7: The last element of w is: {w[-1]:.4f}')

Answer Q7: The last element of w is: 5.6992